sudo: required

services:
  - docker

language: node_js
dist: trusty

env:
  - DOCKER_IMAGE=mkoplan/equipment:0.5.6

script:
  - docker build -t "$DOCKER_IMAGE" .

after_success:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  - docker push "$DOCKER_IMAGE"
